@import url("https://cdn.jsdelivr.net/npm/line-awesome@1.3.0/dist/line-awesome/css/line-awesome.min.css");
html {
  overflow-y: scroll;
}
a:hover {
  text-decoration: none;
}
.main header {
  -webkit-align-items: stretch;
  -webkit-flex-direction: column;
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.main main {
  padding: 0;
  margin: 0 !important;
}
.toptip {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgb(230, 236, 240);
  background-color: #fff;
  line-height: 54px;
  height: 54px;
}
.toptip > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  font-size: 16px;
  border-radius: 50%;
  color: #1da1f2;
  margin-right: 10px;
}
.toptip > a i{
  font-size: 20px;
  margin-top: 2px;
}
.toptip>a:hover {
  text-decoration: none;
  color: #1da1f2;
  background-color: #1da1f21a;
}
.line {
  background-color: rgb(230, 236, 240);
  height: 10px;
}
/* 文章流 */
.feed {
  padding: 0;
}
#feed_list .card {
  border-radius: 0;
}

#feed_list .card-title {
  font-size: 16px;
}

#feed_list .card-text {
  word-break: break-all;
  white-space: pre-wrap;
}
/* 左侧导航 */
.left-nav-container,
.left-nav {
  width: 100%;
}
.nav-list {
  display: none;
}
.left-nav .logo div {
  padding: 5px;
  display: inline-block;
  line-height: 1.5;
}
.left-nav .logo img {
  width: 40px;
  height: 40px;
}
.nav-list .nav-link,
.nav-list .nav-btn {
  padding: 0;
  font-size: 19px;
  color: #222;
}
.nav-list .nav-link {
  width: 0;
}
.nav-list .nav-link:hover > div,
.left-nav .logo:hover > div {
  background-color: #1da1f21a;
  color: #1da1f2;
}
.nav-list .nav-link div {
  padding: 10px;
  line-height: 1.5;
}
.nav-list .nav-link i {
  font-size: 30px;
  width: 30px;
  vertical-align: middle;
}
.nav-list .nav-link span {
  font-weight: 600;
  margin: 0 20px;
  display: none;
}
.left-btn-arr {
  display: flex;
}
.mobile-btn {
  width: 50px;
  height: 50px;
  color: #222;
  background-color: #f5f8fa;
  margin: 0 10px;
  border-radius: 999px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.mobile-btn:hover {
  color: #222;
}
.nav-show {
  display: flex !important;
}
.nav-list .nav-btn {
  width: 51px;
  height: 51px;
  line-height: 51px;
  margin-top: 20px;
  text-align: center;
  border-radius: 999px;
  color: #fff;
  background-color: #1da1f2;
  box-shadow: 0 10px 20px 0 #e6ecf0;
  font-weight: 600;
}
.nav-list .nav-btn span {
  display: none;
}
/* 右侧栏 */
.aside .card {
  background-color: #f5f8fa;
  border: none;
}
.user-info-background {
  background-size: cover;
  height: 80px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  filter: brightness(0.7);
}
.user-small-avatar img {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  position: absolute;
  top: 40px;
  border-radius: 999px;
  left: 50%;
  margin-left: -30px;
}

/* 发布框 */
.feed .card {
  border: none;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.send_post .card {
  border-radius: 0;
  border-bottom: none;
}
.send_post .form-group {
  margin-bottom: 0;
}
.input_post {
  padding: 0.375rem 0;
  resize: none;
  border: none;
  font-size: 19px;
}
.input_post:focus {
  box-shadow: none;
}
.send_post .dropzone {
  min-height: 0;
  border: none;
  padding: 0;
}
.send_post .dz-default {
  display: none;
}
.shade {
  background: #1da1f3;
}
.shade img {
  margin: 0 auto;
  width: 100%;
}

/* 发布功能 */
.func_area {
  margin-bottom: -0.75rem;
}
.func_area .kind {
  margin-left: -8px;
  padding: 0.375rem 0;
}
.func_area .kind a {
  padding: 8px;
  color: #1da1f2;
  border-radius: 999px;
}
.func_area .kind a:hover {
  background-color: #1da1f21a;
}
.func_area .kind i {
  font-size: 24px;
  vertical-align: text-top;
}

/* 推文内容 */
.post:hover {
  background-color: #f5f8fa;
}
.post-image-row {
  overflow: hidden;
}
.post-image-col {
  float: left;
  margin: 4px 0 0 4px;
  position: relative;
  border: 1px solid #f2f2f5;
  width: 140px;
  height: 140px;
}

.post-image-row img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
/* 图片查看框 */
.imageshow {
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}
a.artZoom {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 2px;
  background: #fff;
  border: solid 1px #f1f1f1;
  text-decoration: none;
  color: #ccc;
}
a.artZoom:hover {
  text-decoration: none;
}
a.artZoom span.loading {
  display: block;
  width: 130px;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  margin: 2px 0;
  font-size: 9px;
  background: #fff url("common/loading2.gif") no-repeat 0 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.artZoomBox {
  display: none;
  width: 100%;
  overflow: hidden;
  border: 1px #e4e4e4 solid;
  background: #f9f9f9;
  padding: 5px 8px;
  font-size: 12px;
  margin-top: 10px;
}
.artZoomBox .tool {
  width: 400px;
  margin: 10px 0;
}
.artZoomBox .tool i {
  width: 10px;
  margin-right: 5px;
}
.artZoomBox .tool a {
  float: left;
  color: #0082cb;
  font-size: 12px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #d9d9d9;
  line-height: 12px;
  cursor: pointer;
}
.artZoomBox .tool a:last-child {
  border-right: none;
}
.artZoomBox .maxImgRow {
  display: flex;
}
.artZoomBox .maxImgRow .maxImg {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  cursor: zoom-out;
}
#feed_list .stamp {
  margin: 0;
  font-size: 12px;
  color: #999;
  margin-top: 4px;
  font-weight: normal;
}
#feed_list .handle {
  border-top: 1px solid #e6ecf0;
  justify-content: space-between;
  align-items: center;
  margin: 15px -20px -15px;
  padding: 5px 15px 0;
}
#feed_list .handle .col {
  display: flex;
  align-items: center;
  user-select: none;
  color: #212529;
}
#feed_list .handle i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  transition: 0.2s background-color ease-in-out;
}
#feed_list .handle .col {
  cursor: pointer;
}
#feed_list .handle .col:hover {
  color: #1da1f2;
}
#feed_list .handle .col:hover i {
  background-color: #1da1f21a;
}
/* 评论 */
#comments{
  margin-top: 10px;
}
.comment-list{
  border-top: 1px solid #e6ecf0;
}
.comments-title{
  font-size: 18px;
  padding: 0 10px;
}
.comment-form{
  padding: 10px;
}
.comment-textarea{
  border-radius: 5px;
  border: solid 1px #e6ecf0;
  padding: 10px;
  min-width: 240px;
}
.comment-body{
  padding: 10px 10px 0;
  border-bottom: 1px solid #e6ecf0;
}
.comment-body:hover{
  background-color:#f5f8fa;
}
.a-avatar img{
  border-radius: 50%;
}
.author{
  flex-grow: 1;
  margin-left: 10px;
}
.comment-author{
  font-weight: bold;
}
.comment-author a{
  color: #212529;
}
.comment-time{
  font-size: 12px;
  color: #818181;
}
.comment-content p{
  margin-bottom: 10px;
  word-break: break-all;
}
.comment-children{
  margin-left: 20px;
}
.comment-children .author{
  padding: 10px 0 0;
  border-top: 1px solid #e6ecf0;
}
.comment-children .a-avatar{
  margin-top: 10px;
}
/* 分页 */
.page-Link{
  margin: 20px auto;
  justify-content: center;
}
.page-Link>ol{
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.page-Link>ol>li {
  list-style: none;
}
.page-Link>ol>li>a,.page-Link>ol>li>span  {
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  background: #f5f8fa;
}
.page-Link>ol>li.current>a {
  background: #1da1f2;
  color: #fff;
}
/* sm */
@media (min-width: 576px) {
  #feed_list .handle .more {
    justify-content: flex-end;
    max-width: 0;
  }
  #feed_list .handle .more i {
    min-width: 40px;
  }
}
/* md */
@media (max-width: 768px) {
  .left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list {
    position: absolute;
    margin-top: 60px;
    top: 0;
    right: 10px;
    border-radius: 5px;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 5px 40px 0 #00000040;
    display: none;
    z-index: 3;
  }
  .nav-list:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 34px;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
  }
  .nav-list .nav-link {
    width: auto;
  }

  .nav-list .nav-link i {
    margin-left: 8px;
  }
  .nav-list .nav-link span {
    display: inline;
  }
  .mobile-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .feed {
    border-left: 1px solid rgb(230, 236, 240);
    border-right: 1px solid rgb(230, 236, 240);
  }
  .main {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .left-nav-container,
  .left-nav {
    width: 70px;
  }
  .nav-list {
    display: flex;
  }
  .left-nav-row {
    position: fixed;
    height: 100%;
    overflow-y: auto;
  }
  .left-btn-arr {
    display: none;
  }
  .nav-list .nav-link {
    padding: 4px 0;
  }
  .nav-list .nav-link div {
    border-radius: 999px;
    display: inline-block;
  }
}

/* lg */
@media (min-width: 992px) {
  .left-nav .logo div {
    padding: 10px;
  }
  .nav-list .nav-link {
    width: auto;
  }
  .nav-list .nav-link i {
    margin-left: 8px;
  }
  .nav-list .nav-link span {
    display: inline;
  }
  .left-nav-container,
  .left-nav {
    width: 200px;
  }
  .nav-list .nav-btn {
    width: 90%;
  }
  .nav-list .nav-btn i {
    display: none;
  }
  .nav-list .nav-btn span {
    display: block;
  }
}
/* xl */
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1300px;
  }
}
