{foreach $comments as $vo} 
<div class="comment-body">
    <div class="d-flex">
            <div class="d-flex flex-column">
                <div class="a-avatar d-flex flex-column">
                    <img src="{$vo.user.avatar_url}" width="43" height="43">
                </div>
            </div>
            <div class="author d-flex flex-column">
                <div class="flex-grow-1">
                    <div class="comment-author">
                        <a href="#">{$vo.user.nickname}</a>
                    </div>
                    <div class="comment-time">{:app\\common\\controller\\Common::time_tran($vo.create_time)}</div>
                </div>
                <div class="comment-content">{$vo.text_format|raw}</div>
            </div>
    </div>
</div>
{/foreach}