{foreach $list as $key=>$vo}
<div class="post card">
    <div class="card-body no-gutters">
        <div class="col mb-1">
            <div class="row no-gutters">
                <img class="mr-2 rounded-circle" src="{$vo.user.avatar_url}" width="48" height="48">
                <div class="flex-grow-1">
                    <div class="font-weight-bold">{$vo.user.nickname}</div>
                    <div class="stamp">{:time_tran($vo.create_time)}</div>
                </div>
            </div>
        </div>
        <div class="col">
            {if !empty($vo.text_format.text)}
            <div class="card-text">{$vo.text_format.text|raw}</div>
            {/if}
            {if !empty($vo.text_format.image)}
            <div class="post-image-row">
                {volist name="vo.text_format.image" id="url"}
                <div class="post-image-col">
                    <img src="{$url}">
                </div>
                {/volist}
            </div>
            <div class="artZoomBox">
                <div class="tool clearfix">
                    <a href="javascript:;" class="hideImg"><i class="la la-upload"></i>收起</a>
                    <a href="javascript:;" class="viewImg" target="_blank"><i class="la la-external-link-square-alt"></i>查看原图</a>
                    <a href="javascript:;" class="imgLeft"><i class="la la-undo-alt"></i>向左旋转</a>
                    <a href="javascript:;" class="imgRight"><i class="la la-redo-alt"></i>向右旋转</a>
                </div>
                <div class="maxImgRow"></div>
            </div>
            {/if}
        </div>
        <div class="handle row">
            <a class="col" href="{:url('/post/info',['id'=>$vo.id])}" target="_blank">
                <i class="la la-eye"></i>{$vo.view_num}
            </a>
            <div class="col relay">
                <i class="la la-share"></i>{$vo.relay_num}
            </div>
            <div class="col reply">
                <i class="la la-comment"></i>{$vo.reply_num}
            </div>
            <div class="col like">
                <i class="la la-heart-o"></i>{$vo.like_num}
            </div>
            <div class="col more">
                <i class="la la-ellipsis-h"></i>
            </div>
            {if $vo.uid==$user.uid}
            <!-- <div class="col">
                删除
            </div> -->
            {/if}
        </div>
    </div>
</div>
{/foreach}
{if $page * $length < $total} <a href="{:url('/post/data',['page'=>$page+1])}" class="load-list btn btn-primary btn-block w-75 my-3 mx-auto" data-dom="#feed_list">显示更多</a>
    {else}
    <div class="text-center my-3">没有了</div>
    {/if}