{extend name="public/base"}
{block name="title"}{$config['title']} - {$config['description']}{/block}
{block name="toptip"}主页{/block}
{block name="head"}
<style>
    .feed .card {
        border: none;
        border-bottom: 1px solid rgb(230, 236, 240);
    }

    /* 发布框 */
    .send_post {
        margin-top: -20px;
    }

    .send_post .card {
        border-radius: 0;
        border-bottom: none;
    }

    .send_post .form-group {
        margin-bottom: 0;
    }

    .input_post {
        padding: .375rem 0;
        resize: none;
        border: none;
        font-size: 19px;
    }

    .input_post:focus {
        box-shadow: none;
    }

    /* 发布功能 */
    .func_area {
        margin-bottom: -0.75rem;
    }

    .func_area .kind {
        margin-left: -8px;
        padding: .375rem 0;
    }

    .func_area .kind a {
        padding: 8px;
        color: #1da1f2;
        border-radius: 999px;
    }

    .func_area .kind a:hover {
        background-color: #1da1f21a;
    }

    .func_area .kind i {
        font-size: 24px;
        vertical-align: text-top;
    }
</style>
{/block}
{block name="body"}
<div class="send_post">
    <div class="card">
        <form class="card-body row no-gutters mt-2">
            <div class="mr-3">
                <img class="rounded-circle" src="{if $user}{$user.avatar_url}{else}__IMG__/logo.svg{/if}" width="48" height="48">
            </div>
            <div class="col">
                <form class="form-group">
                    <textarea class="form-control input_post" rows="1" placeholder="有什么新鲜事想告诉大家？" name="text"></textarea>
                    <div class="row no-gutters border-top func_area">
                        <div class="kind flex-fill mt-2 mr-3">
                            <a href="javascrpit:;"><i class="la la-smile"></i></a>
                            <a href="javascrpit:;" onclick="uploadImg()"><i class="la la-image"></i></a>
                            <a href="javascrpit:;"><i class="la la-link"></i></a>
                            <a href="javascrpit:;"><i class="la la-hashtag"></i></a>
                        </div>
                        <div class="flex-row-reverse mt-2">
                            <button type="button" class="btn btn-primary rounded-pill">推文</button>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
<div class="line"></div>
<div id="feed_list">
    {foreach $list as $key=>$vo}
    <div class="card">
        <div class="card-body row no-gutters">
            <div class="mr-3">
                <img class="rounded-circle" src="{$vo.user.avatar_url}" width="48" height="48">
            </div>
            <div class="col">
                <h5 class="card-title font-weight-bold">{$vo.user.nickname}{$vo.id}</h5>
                <p class="card-text">{$vo.text}</p>
            </div>
        </div>
    </div>
    {/foreach}
</div>
<button type="button" class="btn btn-primary btn-block w-75 my-3 mx-auto">显示更多</button>
{/block}
{block name="foot"}
<script>
	/**
	 * 文件打开函数
	 * @param callback 回调函数
	 */
    /*var openFile = function (callback) {
        $('.openFile').remove();
        var input = $('<input class="openFile" type="file" multiple>');
        input.on("propertychange change", callback);
        $('body').append(input);
        input.click();
    }*/
	/**
	 * 文件上传函数
	 * @param file 文件
	 * @param callback 回调函数 
	 */
    /*var uploadFile = function (files, callback) {
        var imageData = new FormData();
        imageData.append("files", files);
        $.ajax({
            url: '{:url("/upload/upload")}',
            type: 'POST',
            data: imageData,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function (res) {
                if (res.code == 1) {
                    callback.success && callback.success(res.imgurl);
                } else {
                    callback.error && callback.error(res.msg);
                }
            },
            error: function () {
                callback.error && callback.error('请求失败！');
            },
            complete: function () {
                callback.complete && callback.complete();
            }
        });
    }*/
    // 上传图片
    /*function uploadImg() {
        openFile(function () {
            var files = this.files;
            for (var i = 0; i < files.length; i++) {
                uploadFile(files[i], {
                    success: function (res) {
                        console.log(res);
                    }
                })
            }
        });
    }*/
    jQuery.fn.extend({
        autoHeight: function () {
            return this.each(function () {
                var $this = $(this);
                if (!$this.attr('_initAdjustHeight')) {
                    $this.attr('_initAdjustHeight', $this.outerHeight());
                }
                _adjustH(this).on('input', function () {
                    _adjustH(this);
                });
            });
            /**
             * 重置高度
             * @param {Object} elem
             */
            function _adjustH(elem) {
                var $obj = $(elem);
                return $obj.css({ height: $obj.attr('_initAdjustHeight') }).height(elem.scrollHeight);
            }
        }
    });
    // 使用
    $('.input_post').autoHeight();
</script>
{/block}